In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect(r"..\data\raw\olist.sqlite")

In [3]:
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
tables

                                 name
0   product_category_name_translation
1                             sellers
2                           customers
3                         geolocation
4                         order_items
5                      order_payments
6                       order_reviews
7                              orders
8                            products
9                     leads_qualified
10                       leads_closed

In [17]:
# завантаження таблиці orders
orders = pd.read_sql("SELECT * FROM orders;", conn)
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [20]:
orders = pd.read_sql("SELECT * FROM orders;", conn)
customers = pd.read_sql("SELECT * FROM customers;", conn)
products = pd.read_sql("SELECT * FROM products;", conn)
order_items = pd.read_sql("SELECT * FROM order_items;", conn)

In [24]:
for name, df in {"orders": orders, 
                 "customers": customers, 
                 "products": products, 
                 "order_items": order_items}.items():
    print(f"\n{name.upper()}")
    print("Shape:", df.shape)
    print(df.info())

ORDERS
Shape: (99441, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB
None

CUSTOMERS
Shape: (99441, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
None

PRODUCTS
Shape: (32951, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB
None

ORDER_ITEMS
Shape: (112650, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB
None

In [25]:
print("\nOrders sample:\n", orders.head(10))
print("\nCustomers sample:\n", customers.head(10))
print("\nProducts sample:\n", products.head(10))
print("\nOrder Items sample:\n", order_items.head(10))

Orders sample:
                            order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c
5  a4591c265e18cb1dcee52889e2d8acc3  503740e9ca751ccdda7ba28e9ab8f608
6  136cce7faa42fdb2cefd53fdc79a6098  ed0271e0b7da060a393796590e7b737a
7  6514b8ad8028c9f2cc2374ded245783f  9bdf08b4b3b52b5526ff42d37d47f222
8  76c6e866289321a7c93b82b54852dc33  f54a9f0e6b351c431402b8461ea51999
9  e69bfb5eb88e0ed6a785585b27e16dbf  31ad1d1b63eb9962463f764d4e6e0c9d

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
2    delivered      2018-08-08 08:38:49  2018-08-08 08:55:23
3    delivered      2017-11-18 19:28:06  2017-11-18 19:45:59
4    delivered      2018-02-13 21:18:39  2018-02-13 22:20:29
5    delivered      2017-07-09 21:57:05  2017-07-09 22:10:13
6     invoiced      2017-04-11 12:22:08  2017-04-13 13:25:17
7    delivered      2017-05-16 13:10:30  2017-05-16 13:22:11
8    delivered      2017-01-23 18:29:09  2017-01-25 02:50:47
9    delivered      2017-07-29 11:55:02  2017-07-29 12:05:32

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45
2          2018-08-08 13:50:00           2018-08-17 18:06:29
3          2017-11-22 13:39:59           2017-12-02 00:28:42
4          2018-02-14 19:46:34           2018-02-16 18:17:02
5          2017-07-11 14:58:04           2017-07-26 10:57:55
6                         None                          None
7          2017-05-22 10:07:46           2017-05-26 12:55:51
8          2017-01-26 14:16:31           2017-02-02 14:08:10
9          2017-08-10 19:45:24           2017-08-16 17:14:30

  order_estimated_delivery_date
0           2017-10-18 00:00:00
1           2018-08-13 00:00:00
2           2018-09-04 00:00:00
3           2017-12-15 00:00:00
4           2018-02-26 00:00:00
5           2017-08-01 00:00:00
6           2017-05-09 00:00:00
7           2017-06-07 00:00:00
8           2017-03-06 00:00:00
9           2017-08-23 00:00:00

Customers sample:
                         customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066
5  879864dab9bc3047522c92c82e1212b8  4c93744516667ad3b8f1fb645a3116a4
6  fd826e7cf63160e536e0908c76c3f441  addec96d2e059c80c30fe6871d30d177
7  5e274e7a0c3809e14aba7ad5aae0d407  57b2a98a409812fe9618067b6b8ebe4f
8  5adf08e34b2e993982a47070956c5c65  1175e95fb47ddff9de6b2b06188f7e0d
9  4b7139f34592b3a31687243a302fa75b  9afe194fb833f79e300e37e580171f22

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP
3                      8775        mogi das cruzes             SP
4                     13056               campinas             SP
5                     89254         jaragua do sul             SC
6                      4534              sao paulo             SP
7                     35182                timoteo             MG
8                     81560               curitiba             PR
9                     30575         belo horizonte             MG

Products sample:
                          product_id  product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas
5  41d3672d4792049fa1779bb35283ed13  instrumentos_musicais
6  732bd381ad09e530fe0a5f457d81becb             cool_stuff
7  2548af3e6e77a690cf3eb6368e9ab61e       moveis_decoracao
8  37cc742be07708b53a98702e77a21a02       eletrodomesticos
9  8c92109888e8cdf9d66dc7e463025574             brinquedos

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0
2                 46.0                       250.0                 1.0
3                 27.0                       261.0                 1.0
4                 37.0                       402.0                 4.0
5                 60.0                       745.0                 1.0
6                 56.0                      1272.0                 4.0
7                 56.0                       184.0                 2.0
8                 57.0                       163.0                 1.0
9                 36.0                      1156.0                 1.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0
2             154.0               18.0                9.0              15.0
3             371.0               26.0                4.0              26.0
4             625.0               20.0               17.0              13.0
5             200.0               38.0                5.0              11.0
6           18350.0               70.0               24.0              44.0
7             900.0               40.0                8.0              40.0
8             400.0               27.0               13.0              17.0
9             600.0               17.0               10.0              12.0

Order Items sample:
                            order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1
2  000229ec398224ef6ca0657da4fc703e              1
3  00024acbcdf0a6daa1e931b038114c75              1
4  00042b26cf59d7ce69dfabb4e55b4fd9              1
5  00048cc3ae777c65dbb7d2a0634bc1ea              1
6  00054e8431b9d7675808bcb819fb4a32              1
7  000576fe39319847cbb9d288c5617fa6              1
8  0005a1a1728c9d785b8e2b08b904576c              1
9  0005f50442cb953dcd1d21e1fb923495              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
3  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
4  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87
5  ef92defde845ab8450f9d70c526ef70f  6426d21aca402a131fc0a5d0960a3c90
6  8d4f2bb7e93e6710a28f34fa83ee7d28  7040e82f899a04d1b434b795a43b4617
7  557d850972a7d6f792fd18ae1400d9b6  5996cddab893a4652a15592fb58ab8db
8  310ae3c140ff94b03219ad0adc3c778f  a416b6a846a11724393025641d4edd5e
9  4535b0e1091c278dfd193e5a1d63b39f  ba143b05f0110f0dc71ad71b4466ce92

   shipping_limit_date   price  freight_value
0  2017-09-19 09:45:35   58.90          13.29
1  2017-05-03 11:05:13  239.90          19.93
2  2018-01-18 14:48:30  199.00          17.87
3  2018-08-15 10:10:18   12.99          12.79
4  2017-02-13 13:57:51  199.90          18.14
5  2017-05-23 03:55:27   21.90          12.69
6  2017-12-14 12:10:31   19.90          11.85
7  2018-07-10 12:30:45  810.00          70.75
8  2018-03-26 18:31:29  145.95          11.65
9  2018-07-06 14:10:56   53.99          11.40

In [27]:
def missing_report(df):
    report = df.isnull().sum().reset_index()
    report.columns = ["column", "missing_count"]
    report["missing_pct"] = 100 * report["missing_count"] / len(df)
    return report


print("\nMissing values in ORDERS:\n", missing_report(orders))
print("\nMissing values in CUSTOMERS:\n", missing_report(customers))
print("\nMissing values in PRODUCTS:\n", missing_report(products))
print("\nMissing values in ORDER_ITEMS:\n", missing_report(order_items))

Missing values in ORDERS:
                           column  missing_count  missing_pct
0                       order_id              0     0.000000
1                    customer_id              0     0.000000
2                   order_status              0     0.000000
3       order_purchase_timestamp              0     0.000000
4              order_approved_at            160     0.160899
5   order_delivered_carrier_date           1783     1.793023
6  order_delivered_customer_date           2965     2.981668
7  order_estimated_delivery_date              0     0.000000

Missing values in CUSTOMERS:
                      column  missing_count  missing_pct
0               customer_id              0          0.0
1        customer_unique_id              0          0.0
2  customer_zip_code_prefix              0          0.0
3             customer_city              0          0.0
4            customer_state              0          0.0

Missing values in PRODUCTS:
                        column  missing_count  missing_pct
0                  product_id              0     0.000000
1       product_category_name            610     1.851234
2         product_name_lenght            610     1.851234
3  product_description_lenght            610     1.851234
4          product_photos_qty            610     1.851234
5            product_weight_g              2     0.006070
6           product_length_cm              2     0.006070
7           product_height_cm              2     0.006070
8            product_width_cm              2     0.006070

Missing values in ORDER_ITEMS:
                 column  missing_count  missing_pct
0             order_id              0          0.0
1        order_item_id              0          0.0
2           product_id              0          0.0
3            seller_id              0          0.0
4  shipping_limit_date              0          0.0
5                price              0          0.0
6        freight_value              0          0.0

In [35]:
total_orders = orders.shape[0]
total_customers = customers["customer_id"].nunique()
date_range = (orders["order_purchase_timestamp"].min(), 
              orders["order_purchase_timestamp"].max())
total_revenue = order_items["price"].sum()

print("\nBASIC STATISTICS")
print("Total orders:", total_orders)
print("Total customers:", total_customers)
print("Date range:", date_range)
print("Total revenue: $", total_revenue)

BASIC STATISTICS
Total orders: 99441
Total customers: 99441
Date range: ('2016-09-04 21:15:19', '2018-10-17 17:30:18')
Total revenue: $ 13591643.7

In [36]:
observations = [
    "1. The dataset spans from {} to {}, covering about {} years.".format(
        date_range[0], date_range[1],
        pd.to_datetime(date_range[1]).year - pd.to_datetime(date_range[0]).year + 1
    ),
    "2. There are {:,} total orders and {:,} unique customers.".format(total_orders, total_customers),
    "3. Total revenue in the dataset is approx $ {:,.2f}.".format(total_revenue),
    "4. Some columns in 'orders' contain missing values (likely delivery dates or approval dates).",
    "5. The product catalog is large, but many products may appear only a few times in sales."
]

print("\nOBSERVATIONS:")
for obs in observations:
    print(obs)

OBSERVATIONS:
1. The dataset spans from 2016-09-04 21:15:19 to 2018-10-17 17:30:18, covering about 3 years.
2. There are 99,441 total orders and 99,441 unique customers.
3. Total revenue in the dataset is approx $ 13,591,643.70.
4. Some columns in 'orders' contain missing values (likely delivery dates or approval dates).
5. The product catalog is large, but many products may appear only a few times in sales.